/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/query/cache-v2
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/cache-v2-eafb738dac2232c05f8a.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-212b257442c4b901b89b.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-163d2de493e0a75e5a7c.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-07T16-44-38-0214.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/target-OpenMP_Wave_Parallel-Debug-ba0ec0c92763865b9e57.json
/OpenMP-Wave-Parallel/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ab6bc179ddbddbdb0d31.json
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.out
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/clion-environment.txt
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/cmake.check_cache
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/rules.ninja
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/OpenMP-Wave-Parallel/cmake-build-debug/Testing/Temporary/LastTest.log
/OpenMP-Wave-Parallel/cmake-build-debug/build.ninja
/OpenMP-Wave-Parallel/cmake-build-debug/cmake_install.cmake
/OpenMP-Wave-Parallel/cmake-build-debug/CMakeCache.txt
/.idea
/OpenMP-Wave-Parallel/graph/array.txt
